<% if user_signed_in? %>
  Welcome, <strong><%= current_user.email %></strong> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>
<br>
<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
